<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Node {{.port}} - Danh bạ</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <h1>📇 Node {{.port}} - Sổ liên hệ</h1>

    <form method="POST" action="/add">
        <input name="name" placeholder="Tên" required>
        <input name="phone" placeholder="SĐT" required>
        <button>Thêm</button>
    </form>

    <table>
        <thead>
            <tr><th>Tên</th><th>SĐT</th><th>Hành động</th></tr>
        </thead>
        <tbody>
        {{range .contacts}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Phone}}</td>
                <td>
                    <form method="POST" action="/delete">
                        <input type="hidden" name="name" value="{{.Name}}">
                        <button onclick="return confirm('Xoá {{.Name}}?')">Xoá</button>
                    </form>
                    <form method="POST" action="/edit">
                        <input type="hidden" name="name" value="{{.Name}}">
                        <input name="phone" placeholder="SĐT mới" required>
                        <button>Sửa</button>
                    </form>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
</body>
</html>
